table {
    margin: 50px auto 0px auto;
    font-size: 26px;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 200px;
    margin: auto;
    padding-top: 100px;
}

.container input, button{
    width: 200px;
    font-size: 20px;
}