<div class="container">
  <h1>Basketball Team App Home</h1>
  <button class="btn" [routerLink]="['']">Home</button>
  <button class="btn" [routerLink]="['/login']">Login</button>
  <button class="btn" [routerLink]="['/register']">Register</button>
  <button class="btn" [routerLink]="['/addFixture']">Add Fixture</button>
  <button class="btn" [routerLink]="['/futureFixtures']">Future Fixtures</button>
  <button class="btn" [routerLink]="['/playedFixtures']">Played Fixtures</button>
  <!--   <button class="btn" [routerLink]="['/register']">Register</button> -->
</div>
<router-outlet></router-outlet>