table {
    margin: 50px auto 0px auto;
    font-size: 26px;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px;
}

.container label {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.container input {
    width: 50px;
    font-size: 24px;
    margin: 10px auto;
}

.container button {
    font-size: 18px;
    width: 200px;
    margin: 10px auto;
}
