.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px;
}

.container label {
    text-align: center;
    font-size: 18px;
}

.container input, select{
    width: 200px;
    margin: 10px auto;
}

.container button {
    font-size: 18px;
    width: 200px;
    margin: 10px auto;
}